<div class="flex justify-between bg-pink-200">
  <div>
    <img class="w-[75.2px]" src="https://www.logodesign.net/logo/smoking-burger-with-lettuce-3624ld.png" />
  </div>
  <div class="flex items-center">
    <nav>
      <ul class="flex">
        <li class="px-4 m-6">
          <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
        </li>
        <li class="px-4 m-6">
          <a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About Us</a>
        </li>
        <li class="px-4 m-6">
          <a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact Us</a>
        </li>
        <li class="px-4 m-6">
          <a routerLink="/cart" routerLinkActive="active" ariaCurrentWhenActive="page">Cart</a>
        </li>
        <li class="px-4 m-6">
          <a routerLink="/counter" routerLinkActive="active" ariaCurrentWhenActive="page">Counter</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
